.gp_content5 {
	.gp_heading {
		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -15px;
		@include align-items(center);
	}
	.gp_buttons {
		margin-top: 40px;
	}
	.gp_content {
		padding: 15px;
		> h3 {
			margin-top: 0;
		}
	}
	.gp_subtitle {
		display: inline-block;
		padding: 3px 7px;
		line-height: 1;
		letter-spacing: 1px;
	}
}