.gp_accordion2 {
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_accordion_question {
		cursor: pointer;
		display: block;
		padding: 12px 65px 12px 0;
		position: relative;
		> h4 {
			margin: 0 0 15px;
		}

		&.gp_dir_arrow {
			&:not(.gp_active) .gp_accordion_dir:before {
				content: "\f078";
			}
			&.gp_active .gp_accordion_dir:before {
				content: "\f077";
			}
		}
		&.gp_dir_plus {
			&:not(.gp_active) .gp_accordion_dir:before {
				content: "\f067";
			}
			&.gp_active .gp_accordion_dir:before {
				content: "\f068";
			}
		}
		.gp_accordion_dir {
			font-family: 'FontAwesome';
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
	}
	.gp_icon {
		margin-right: 11px;
	}
	.gp_accordion_answer {
		display: none;
		padding: 25px 0 30px;
		&.gp_active {
			display: block;
		}
		.gp_accordion_link {
			margin-top: 15px;
		}
	}
	.gp_accordion2_divider {
		margin: 1rem 0;
	}
}