.gp_imageblock4 {
	> .g-grid {
		margin: 0 -12px;
	}
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_content {
		margin: 12px;
		> h4 {
			margin: 0;
			font-weight: 700;
			padding: 20px 20px;
		}
	}
	.gp_img {
		&.has_padding {
			padding: 0 20px;
		}
	}
	.gp_text {
		padding: 20px 20px;
		> div {
			margin: 0 0 15px;
		}
	}
}