.gp_propertylisting {
	.gp_heading {
		margin-bottom: 50px;
	}
	> .g-grid {
		margin: 0 -14px;
	}
	.gp_content {
		margin: 14px;
		border: 1px solid;
		position: relative;
	}
	.gp_img {
		padding: 5px 5px 0;
	}
	.gp_text {
		padding: 30px;
		h3 {
			margin: 0 0 20px;
			font-weight: bold;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	ul.gp_features {
		margin: 20px 0;
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 10px;
			i {
				min-width: 25px;
			}
			&.gp_bold {
				font-weight: bold;
			}
		}		
	}
}