.gp_pricing_table3 {
	.gp_heading {
		margin: 0 0 50px;
		font-size: 18px;
	}
	.gp_items {
		.g-grid {
			margin: 0 -12px;
		}
	}
	.gp_item {
		position: relative;
		padding: 30px 35px;
		border-radius: 4px;
		margin: 12px;
		text-align: center;
		h4 {
			margin: 0 0 20px;
			font-size: 22px;
		}
	}
	.gp_price {
		padding: 0 0 20px;
		font-size: 30px;
		line-height: 1;
		font-weight: bold;
		color: #333333;
	}
	.gp_desc {
		margin: 24px 0 30px;
	}
	.gp_btn {
		display: block;
		width: 100%;
		font-size: 14px;
	    padding: 12px;
	    line-height: 1.4;
	}
	.gp_note {
		text-align: center;
		margin: 1.5rem 0;
	}
	.gp_highlight {
		transform: scale(1.075);
		-webkit-transform: scale(1.075);
	}
	.gp_divider {
		margin: 16px 0;
		border-top: 1px solid rgba(34,36,38,.15);
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
}