.gp_tabs1 {
	@include breakpoint(no-mobile) {
		.gp_tab_accordion {
			display: none;
		}
	}
	@include breakpoint(mobile-only) {
		ul.gp_tabs {
			display: none;
		}
		.gp_tab_content {
			padding-top: 25px !important;
		}
	}
	ul.gp_tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 2px;
			a {
				display: block;
				padding: 12px 22px;
				position: relative;
				cursor: pointer;
				i {
					margin-right: 4px;
				}
			}
		}
	}
	.gp_tab_accordion {
		cursor: pointer;
		padding: 12px 65px 12px 20px;
		position: relative;
		margin-top: 4px;
		i {
			margin-right: 4px;
		}
		&:not(.gp_active) {
			.gp_tab_arrow {
				&:before {
					content: "\f107";
				}
			}
		}
		&.gp_active {
			.gp_tab_arrow {
				&:before {
					content: "\f106";
				}
			}
		}
	}
	.gp_tab_content {
		display: none;
		padding: 55px 0 30px;
		&.gp_active {
			display: block;
		}
	}
	.gp_tab_arrow {
		font-family: 'FontAwesome';
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	.gp_tab_link {
		margin-top: 15px;
	}
	
}