.gp_accordion5 {
	.gp_heading {
		margin-bottom: 50px;
	}
	h3.gp_category {
		font-size: 20px;
		text-align: right;
	}
	.gp_accordion_question {
		cursor: pointer;
		display: block;
		margin: 0;
		font-size: 16px;
		font-weight: normal;
		position: relative;
		padding: 5px 0;
		&.gp_dir_arrow {
			&:not(.gp_active) .gp_accordion_dir:before {
				content: "\f13a";
			}
			&.gp_active .gp_accordion_dir:before {
				content: "\f139";
			}
		}
		&.gp_dir_plus {
			&:not(.gp_active) .gp_accordion_dir:before {
				content: "\f055";
			}
			&.gp_active .gp_accordion_dir:before {
				content: "\f056";
			}
		}
		.gp_accordion_dir {
			font-family: 'FontAwesome';
			display: inline-block;
			width: 25px;
			text-align: left;
		}
	}
	.gp_accordion_answer {
		padding: 10px 0 25px 25px;
		display: none;
		&.gp_active {
			display: block;
		}
	}
	.gp_accordion_link {
		margin-top: 15px;
	}
	.gp_divider {
		padding: 2rem 0;
	}
}