.gp_content1 {
	position: relative;
	> .g-grid {
		&.gp_center {
			@include align-items(center);
		}
	}
	.gp_content {
		position: relative;
	}
	.gp_buttons {
		margin-top: 1rem;
		a {
			margin-bottom: 10px;
		}
	}
	@include breakpoint(mobile-only) {
		.gp_text_right {
			padding-top: 1rem;
		}
		.gp_text_left {
			padding-bottom: 1rem;
		}
	}
	@include breakpoint(no-mobile) {
		.gp_text_right {
			margin-left: 16%;
		}
		.gp_text_left {
			margin-right: 16%;
		}
	}
}