.gp_banner3 {
	.gp_bgimg {
		transition: 0.2s ease;
		-webkit-transition: 0.2s ease;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		position: relative;
	}
	.gp_mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000000;
	}
	.gp_content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		@include display(flex);
    	@include align-items(center);
    	-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		@include breakpoint(large-desktop-range) {
			width: $breakpoints-large-desktop-container;
		}
		@include breakpoint(desktop-range) {
			width: $breakpoints-desktop-container;
		}
		@include breakpoint(tablet-range) {
			width: $breakpoints-tablet-container;
		}
	}
	.gp_inner {
		padding: 0 1.563rem;
		position: relative;
		h1 {
    		font-size: 60px;
    		line-height: 1.2;
    		font-weight: 100;
    		letter-spacing: 0.5px;
			margin: 0 0 10px;
			color: #ffffff !important;
			@include breakpoint(tablet-range) {
				font-size: 36px;
			}
			@include breakpoint(mobile-only) {
				font-size: 24px;
			}
		}
		h2 {
    		font-size: 96px;
    		line-height: 1.2;
    		font-weight: 900;
    		letter-spacing: 0.5px;
			margin: 0 0 70px;
			color: #ffffff !important;
			@include breakpoint(tablet-range) {
				font-size: 46px;
			}
			@include breakpoint(mobile-only) {
				font-size: 36px;
			}
		}
		.gp_icon {
			text-align: center;
			svg {
				transform: scale(1);
				-webkit-transform: scale(1);
				transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
				&:hover {
					transform: scale(1.2);
					-webkit-transform: scale(1.2);
				}
			}
		}
	}
}