.gp_iconblock2 {
	.gp_heading {
		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -10px;
	}
	.gp_content {
		padding: 20px 25px;
		margin: 10px;
		border-radius: 4px;
		h4 {
			margin-top: 0;
			margin-bottom: 20px;
			font-weight: 700;
		}
	}
	.gp_icon {
		font-size: 2.5rem;
	}
	.gp_link {
		margin-top: 15px;
	}
}