.gp_iconblock5 {
	text-align: center;
	.gp_heading {
		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -10px;
	}
	.gp_content {
		padding: 25px 15px;
		margin: 10px;
		border-radius: 4px;
	}
	.gp_icon {
		font-size: 3.125rem;
		margin: 10px 0 25px;
		text-decoration: none !important;
	}
	.gp_link {
		margin-top: 15px;
	}
	.g-block {
		> a {
			display: block;
			&:hover .gp_content {
				transition: all 0.2s ease;
				-webkit-transition: all 0.2s ease;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px;
				-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px;
				> div {
					text-decoration: underline;
				}
			}
		}
	}
}