.gp_imagegallery3 {
	//Slick slider
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
		outline: 0;
		.slick-track, .slick-list {
		    -webkit-transform: translate3d(0, 0, 0);
		    -moz-transform: translate3d(0, 0, 0);
		    -ms-transform: translate3d(0, 0, 0);
		    -o-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
  		}
  		.slick-list {
		 	position: relative;
		 	display: block;
		 	overflow: hidden;
		 	padding: 0;
		 	margin: 0;
			&:focus {
			    outline: none;
			}
			&.dragging {
			    cursor: pointer;
			    cursor: hand;
			}
		}
		.slick-track {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			margin-left: auto;
			margin-right: auto;
		  	&:before {
		    	display: table;
		    	content: '';
		  	}
		  	&:after {
		    	display: table;
		    	content: '';
		    	clear: both;
		  	}
		}
		&.slick-loading .slick-track {
  			visibility: hidden;
		}
		.slick-slide {
			display: none;
			float: left;
			height: 100%;
			min-height: 1px;
			outline: 0;
		}
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}

	.slick-slide {
		img {
			display: block;
		}
		&.slick-loading img {
			display: none;
		}
		&.dragging img {
			pointer-events: none;
		}
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	//End Slick slider
	//Slick navs
	.slick-list {
		padding: 0 18% !important;
		background: #27292a;
	}
	.slick-arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 18%;
		padding: 0;
		margin: 0;
		border: 0;
		outline: 0;
		z-index: 1;
		background: rgba(39, 41, 42, 0.65);
		color: #fff;
		font-size: 0;
		transition: 0.2s;
		-webkit-transition: 0.2s;
		&:hover {
			background: rgba(39, 41, 42, 0.7);
			&:before {
				opacity: 1;
			}
		}
		&:before {
			font-family: FontAwesome;
			font-size: 40px;
			opacity: 0.7;
		}
		&.slick-prev {
			left: 0;
			&:before {
				content: "\f104";
			}
		}
		&.slick-next {
			right: 0;
			&:before {
				content: "\f105";
			}
		}
	}
	.slick-slide {
		&:not(.slick-current) {
			.gp_img_block.has_title:before, .gp_img_content {
				display: none;
			}
		}
	}
	//End Slick navs
	.gp_grid {
		&:not(.slick-initialized) {
			display: none;
		}
	}
	.gp_heading {
		margin: 0 0 50px;
	}
	.gp_img_block {
		position: relative;
		overflow: hidden;
		&.has_title:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 120px;
			background: linear-gradient(to top,rgba(0,0,0,0.5) 0%,transparent 100%);
			transition: opacity 0.2s ease-in;
			-webkit-transition: opacity 0.2s ease-in;
		}
	}
	.gp_img_content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 50px 50px 30px;
		margin: 0;
		color: #fff;
		> h4 {
			margin: 0;
			color: #fff !important;
		}
		> div {
			font-size: 14px;
			line-height: 1.2;
			margin-top: 7px;
		}
		@include breakpoint(mobile-only) {
			> h4 {
				font-size: 12px;
			}
			> div {
				display: none;
			}
		}
	}
	img {
		margin: 0 auto;
	}
}