.gp_iconblock1 {
	.gp_heading {
		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -15px;
	}
	.gp_content {
		padding: 15px;
		> h4 {
			margin-bottom: 20px;
			font-weight: 700;
		}
	}
	.gp_icon {
		font-size: 5rem;
	}
	.gp_buttons {
		text-align: center;
		margin-top: 40px;
	}
}