.gp_cta4 {
	position: relative;
	@include breakpoint(no-mobile) {
		.gp_content {
			@include display(flex);
			@include align-items(center);
		}
		.gp_content_right {
			margin-left: auto;
			padding-left: 2rem;
			white-space: nowrap;
		}
	}
	@include breakpoint(mobile-only) {
		text-align: center;
		.gp_content_right {
			margin-top: 1rem;
		}
	}
	.gp_content {
		position: relative;
	}
	.gp_mask {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}