.headroom {
	transition: transform .25s ease-in-out;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	will-change: transform;
}
.headroom--pinned {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}

.headroom--unpinned {
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 0;
}

.headroom.headroom--not-top.headroom--not-bottom.headroom--pinned {
	position: fixed !important;
	top: 0 !important;
    right: 0 !important;
    left: 0 !important;
	z-index: 1001 !important;
}