.gp_iconblock7 {
	@include breakpoint(mobile-only) {
		text-align: center !important;
		.gp_heading {
			text-align: center !important;
			margin-bottom: 30px;
		}
		.gp_content {
			padding: 20px 0 !important;
		}
	}
	.g-grid {
		&.gp_aligncenter {
			@include align-items(center);
		}
	}
	.gp_heading_btn {
		margin-top: 36px;
	}
	.gp_content {
		padding: 20px 0 20px 20px;
	}
	.gp_right {
		margin-bottom: 15px;
		&.has_iconborder {
			padding-left: 7px;
		}
	}
	.gp_icon {
		font-size: 2rem;
		margin-bottom: 15px;
		&.has_iconborder {
			font-size: 1.5rem;
			border-radius: 50%;
			outline: 0;
			width: 56px;
			height: 56px;
			line-height: 50px;
			text-align: center;
		}
	}
	.gp_title {
		font-size: 1rem;
		font-weight: 700;
		margin-bottom: 15px;
		&.has_iconborder {
			margin-bottom: 7px;
		}
	}
}