.gp_banner2 {
	.gp_bgimg {
		transition: 0.2s ease;
		-webkit-transition: 0.2s ease;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		position: relative;
		padding-top: 140px;
		padding-bottom: 80px;
	}
	.gp_mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000000;
	}
	.gp_content {
		position: relative;
		margin: 0 auto;
		@include breakpoint(large-desktop-range) {
			width: $breakpoints-large-desktop-container;
		}
		@include breakpoint(desktop-range) {
			width: $breakpoints-desktop-container;
		}
		@include breakpoint(tablet-range) {
			width: $breakpoints-tablet-container;
		}
		
		> .g-grid {
			@include align-items(center);
			@include breakpoint(no-desktop) {
				text-align: center;
				-webkit-justify-content: center;
	        	-ms-justify-content: center;
	        	justify-content: center;
	        	.g-block {
	        		@include flex-grow(0);
					@include flex-basis(100%);
					max-width: 100%;
	        	}
			}
		}
	}
	.gp_inner {
		padding: 0 1.563rem;
		position: relative;
		> h1 {
			font-weight: 900;
    		font-size: 52px;
    		line-height: 56px;
    		text-shadow: 0 1px 2px rgba(0,0,0,.1);
			margin: 0 0 20px;
			color: #ffffff !important;
			@include breakpoint(no-desktop) {
				font-size: 36px;
    			line-height: 40px;
			}
		}
		> .gp_desc {
			font-size: 22px;
    		line-height: 26px;
			margin-bottom: 25px;
			color: #ffffff;
		}
		> .gp_btns {
			a {
				padding: 15px 25px;
				border-radius: 4px;
				color: #ffffff;
				display: inline-block;
				font-size: 16px;
				text-transform: uppercase;
				transition: all 0.25s ease-out;
				-webkit-transition: all 0.25s ease-out;
				&.gp_btnwithbg:hover {
					opacity: 0.85;
				}
				&.gp_btnwithicon {
					@include breakpoint(no-desktop) {
						margin-left: 0;
						display: block;
						margin-top: 5px;
					}
				}
				i {
					font-size: 28px;
					margin-right: 5px;
					vertical-align: sub;
				}
				&:hover i {
					transform: scale(1.2);
					-webkit-transform: scale(1.2);
					margin-right: 7px;
				}
			}
		}
	}
	.gp_img {
		text-align: left;
		@include breakpoint(no-desktop) {
			display: none;
		}
	}
}