.gp_content6 {
	> .g-grid {
		margin: 0 -10px;
	}
	.gp_heading {
		margin-bottom: 60px;
	}
	.gp_content {
		padding: 20px 25px;
		margin: 10px;
		> h4 {
			margin-bottom: 20px;
			font-weight: 700;
		}
		> p {
			margin: 0 0 15px;
		}
		a {
			text-decoration: underline;
		}
	}
}