.gp_contactinfo4 {
	.g-grid {
		@include align-items(center);
	}
	h3 {
		margin: 0 0 13px;
	}
	.gp_info {
		margin-top: 33px;
		.gp_info_title {
			font-weight: bold;
		}
	}
	.gp_icon {
		display: inline-block;
		width: 50px;
		text-align: left;
		vertical-align: top;
		~ div {
			display: inline-block;
		}
		a {
			cursor: default;
   			pointer-events: none !important;
		}
		i {
			font-size: 30px;
			position: relative;
    		top: 3px;
		}
	}
}