.gp_content4 {
	position: relative;
	&.has_bgimg {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.gp_heading {
		position: relative;
   		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -15px;
	}
	.gp_content {
		position: relative;
		padding: 15px;
		> h3 {
			margin-top: 0;
		}
	}
	.gp_subtitle {
		display: inline-block;
		padding: 3px 7px;
		line-height: 1;
		letter-spacing: 1px;
	}
	.gp_buttons {
		position: relative;
		margin-top: 40px;
	}
	.gp_mask {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}