.gp_events2 {
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_items {
		margin: 0 -14px;
	}
	.gp_item {
		margin: 14px;
		position: relative;
	}
	.gp_img {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			pointer-events: none;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 80px;
			background: linear-gradient(to top,rgba(0,0,0,0.5) 0%,transparent 100%);
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			z-index: 1;
		}
		> h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 25px;
			margin: 0;
			color: #ffffff !important;
			z-index: 1;
		}
	}
	.gp_content {
		padding: 25px;
		color: #ffffff;
		.gp_desc {
			margin-bottom: 15px;
			font-size: 18px;
		}
		.gp_date {
			margin-bottom: 7px;
		}
		i {
			width: 16px;
			margin-right: 4px;
			text-align: center;
		}
		.gp_url {
			margin-top: 20px;
			a {
				display: inline-block;
				padding: 6px 14px;
				background: #ffffff;
				transition: 0.25s ease;
				-webkit-transition: 0.25s ease;
				&:hover {
					opacity: .85;
				}
			}
		}
	}
}