.gp_imageblock7 {
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_divider {
		margin: 2rem 0;
		border-top: 1px solid rgba(34,36,38,.15);
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	.gp_text {
		> h3 {
			margin: 0 0 20px;
		}
		> div {
			margin: 0 0 15px;
		}
	}
}