.gp_timeline {
	.gp_heading {
		margin-bottom: 60px;
	}
	.gp_contents {
		position: relative;
		margin: 0 auto;
		padding: 15px 0;
	}
	.gp_line {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 0;
		margin-left: -1px;
		border-right: 2px dashed;
		box-sizing: border-box;
	}
	.gp_block_headline {
		color: #ffffff;
		font-size: 18px;
		margin: 35px 0;
		text-align: center;
		z-index: 1;
		position: relative;
		font-weight: bold;
		&.gp_first {
			margin-top: 0;
		}
		.gp_block_headline_txt {
			display: inline-block;
			border-radius: 3px;
			padding: 8px 14px;
		}
		&:before, &:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	.gp_block {
		width: 50%;
    	display: block;
    	box-sizing: border-box;
    	position: relative;
    	@include breakpoint(mobile-only) {
    		width: 100% !important;
    		float: none !important;
    		padding: 0 !important;
    		text-align: center !important;
    	}
    	&.gp_center {
			margin: 0 auto;
			text-align: center;
			.gp_content {
				margin-top: 35px;
			}
			.gp_dot {
				display: none;
			}
    	}
		&.gp_left {
			float: left;
			text-align: right;
			padding-right: 35px;
			.gp_content {
				&:before {
					left: 100%;
					border-color: rgba(0,0,0,0);
					border-width: 16px;
					margin-top: -16px;
				}
				&:after {
					left: 100%;
					border-color: rgba(0,0,0,0);
					border-width: 15px;
					margin-top: -15px;
				}
			}
			.gp_dot {
				left: 100%;
				transform: translateX(-50%) translateY(-50%);
				-webkit-transform: translateX(-50%) translateY(-50%);
			}
		}
		&.gp_right {
			float: right;
			text-align: left;
			padding-left: 35px;
			margin-top: 35px;
			.gp_content {
				@include breakpoint(no-mobile) {
					margin-bottom: 0;
				}
				&:before {
					right: 100%;
					border-color: rgba(0,0,0,0);
					border-width: 16px;
					margin-top: -16px;
				}
				&:after {
					right: 100%;
					border-color: rgba(0,0,0,0);
					border-width: 15px;
					margin-top: -15px;
				}
			}
			.gp_dot {
				right: 100%;
				transform: translateX(50%) translateY(-50%);
				-webkit-transform: translateX(50%) translateY(-50%);
			}
		}
		&:before, &:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	.gp_content {
		position: relative;
		padding: 20px;
		margin-bottom: 35px;
		border-radius: 3px;
		z-index: 1;
		&:before, &:after {
		    top: 35px;
		    border: solid transparent;
		    content: "";
		    height: 0;
		    width: 0;
		    position: absolute;
		    pointer-events: none;
		    @include breakpoint(mobile-only) {
				display: none !important;
			}
		}
		> div {
			margin: 0 0 15px;
		}
		.gp_date {
			font-weight: bold;
		}
		> h3 {
			margin: 0 0 15px;
			font-weight: 800;
		}
		.gp_btn {
			margin-top: 20px;
			margin-bottom: 0;
			a {
				display: inline-block;
			}
		}
	}
	.gp_dot {
		position: absolute;
		top: 35px;
		width: 20px;
		height: 20px;
		@include breakpoint(mobile-only) {
			display: none !important;
		}
		.gp_dot_inner {
			width: inherit;
			height: inherit;
			position: relative;
			box-sizing: border-box;
			background-color: #fff;
			border: 2px solid;
			border-radius: 50%;
			.gp_dot_circle {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				margin: 0 auto;
				position: relative;
				top: 2px;
			}
		}
	}
	.gp_clear {
		display: block;
		height: 0;
		visibility: hidden;
		font-size: 0;
		clear: both;
	}
}