.gp_team4 {
    .gp_heading {
        margin-bottom: 50px;
    }
    .g-grid.r_v_center {
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
    }
    .r_team_img {
        position: relative;
        overflow: hidden;
    }
    .r_team_social {
        display: inline-block;
        margin-left: 1rem;
        @include breakpoint(mobile-only) {
            margin-left: 0;
        }
        @include breakpoint(small-mobile-range) {
            margin-top: 1rem;
        }
        > a {
            text-decoration: none;
            font-size: 1rem;
            width: 35px;
            height: 35px;
            display: inline-block;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            &:hover {
                background: $accent-color-1;
                color: #ffffff;
            }
        }
    }
    .r_team_info {
        padding: 30px;
        position: relative;
        .r_team_title {
            margin: 0;
            font-weight: 700;
        }
        .r_team_desc {
            padding: 1rem 0 1.5rem;
            margin-top: 1rem;
            border-top: 1px solid rgba(0,0,0,.12);
        }
    }
    .r_team_divider {
        margin: 2rem 0;
        border-top: 1px solid rgba(34,36,38,.15);
        border-bottom: 1px solid rgba(255,255,255,.1);
        line-height: 1;
        height: 0;
    }
}