.gp_content2 {
	position: relative;
	.gp_heading {
		margin-bottom: 60px;
		text-align: center;
	}
	> .g-grid {
		margin: 0 -15px;
		&.gp_center {
			@include align-items(center);
		}
	}
	.gp_content {
		position: relative;
		margin: 0 15px;
	}
	.gp_buttons {
		margin-top: 1rem;
		a {
			margin-bottom: 10px;
		}
	}
	.gp_subtitle {
		font-weight: bold;
		a {
			pointer-events: none;
		}
	}
	@include breakpoint(mobile-only) {
		.gp_text_right {
			padding-top: 1rem;
		}
		.gp_text_left {
			padding-bottom: 1rem;
		}
	}
}