.gp_infobanner3 {
	> .g-grid {
		margin: 0 -14px;
		> .g-block {
			> .gp_content {
				margin: 14px;
				transition: 0.2s ease;
				-webkit-transition: 0.2s ease;
				position: relative;
				overflow: hidden;
				> a {
					display: block;
					&:hover {
						img {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
	.gp_img {
		position: relative;
		img {
			transition: 0.15s ease-in-out;
			-webkit-transition: 0.15s ease-in-out;
		}
		&:before {
			content: "";
			pointer-events: none;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 80px;
			background: linear-gradient(to top,rgba(0,0,0,0.5) 0%,transparent 100%);
			opacity: 1;
			z-index: 1;
		}
		> h2 {
			color: #ffffff !important;
			font-size: 1.5rem;
			line-height: 1.2;
			margin: 0;
			position: absolute;
			padding: 30px;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
		}
	}
}