.gp_imageblock8 {
	.g-grid {
		&.gp_aligncenter {
			@include align-items(center);
		}
	}
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_content {
		position: relative;
		&:hover {
			.gp_text > h3 {
				text-decoration: underline;
			}
			.gp_img > img {
				-webkit-transform: scale(1.05);
				transform: scale(1.05);
			}
		}
		@media only all and (min-width: 768px) and (max-width: 960px) {
			&.odd {
				.gp_img_block {
					order: 0;
				}
				.gp_text_block {
					order: 1;
				}
			}
			&.even {
				.gp_img_block {
					order: 1;
				}
				.gp_text_block {
					order: 0;
				}
			}
		}
		@media only all and (max-width: 767px) {
			&.odd, &.even {
				.gp_img_block {
					order: 0;
				}
				.gp_text_block {
					order: 1;
				}
			}
		}
	}
	.gp_img {
		overflow: hidden;
		> img {
			-webkit-transition: 0.35s;
			transition: 0.35s;
			-webkit-transform: scale(1);
			transform: scale(1);
			backface-visibility: hidden;
		}
	}
	.gp_text {
		padding: 20px 30px;
		> h3 {
			font-size: 20px;
			margin: 0 0 12px;
			-webkit-transition: 0.35s;
			transition: 0.35s;
			span {
				font-weight: 300;
			}
		}
	}
	a.gp_link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
	@media only all and (max-width: 960px) {
		.g-block.gp_md {
			@include flex-grow(0);
			@include flex-basis(100%);
			max-width: 100%;
		}
	}
}