.gp_imageblock1 {
	> .g-grid {
		margin: 0 -15px;
	}
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_content {
		padding: 15px;
	}
	.gp_img {
		margin-bottom: 20px;
	}
	.gp_text {
		> h4 {
			margin-top: 0;
			margin-bottom: 20px;
			font-weight: 700;
		}
		> div {
			margin: 0 0 15px;
		}
	}
}