.gp_tabs2 {
	.gp_heading {
		text-align: center;
		max-width: 700px;
		margin: 0 auto 50px;
	}
	@include breakpoint(no-mobile) {
		.gp_tab_accordion {
			display: none;
		}
	}
	@include breakpoint(mobile-only) {
		ul.gp_tabs {
			display: none;
		}
		.gp_tabs_content {
			margin-top: 25px !important;
		}
		.gp_tab_img {
			min-height: 200px !important;
		}
	}
	@media only all and (max-width: 1024px) {
		.gp_tab_content_block > .g-grid > .g-block {
			@include flex-grow(0);
			@include flex-basis(100%);
			max-width: 100%;
		}
	}


	ul.gp_tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			a {
				display: block;
				padding: 5px;
				position: relative;
				cursor: pointer;
				i {
					margin-right: 4px;
				}
			}
		}
	}
	.gp_tab_accordion {
		cursor: pointer;
		padding: 12px 65px 12px 20px;
		position: relative;
		margin-top: 4px;
		i {
			margin-right: 4px;
		}
		&:not(.gp_active) {
			.gp_tab_arrow {
				&:before {
					content: "\f107";
				}
			}
		}
		&.gp_active {
			.gp_tab_arrow {
				&:before {
					content: "\f106";
				}
			}
		}
	}
	.gp_tabs_content {
		margin-top: 40px;
	}
	.gp_tab_content {
		display: none;
		&.gp_active {
			display: block;
		}
	}
	.gp_tab_text {
		padding: 50px;
	}
	.gp_tab_img {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 400px;
	}
	.gp_tab_arrow {
		font-family: 'FontAwesome';
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
	.gp_tab_link {
		margin-top: 25px;
		> a:not(.button):not(.btn) {
			text-decoration: underline;
		}
	}
	
}