.gp_mailchimp_subscribe2 {
	.gp_block {
		position: relative;
		@include breakpoint(no-mobile) {
			.gp_bg {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 50%;
			}
		}
	}
	.gp_content {
		padding: 13%;
	}
	.gp_field_block {
		input {
			padding: 14px 20px !important;
			border-radius: 3px !important;
			border: 0 !important;
			width: 100%;
			display: block;
			height: 50px;
			line-height: 50px;
			margin-bottom: 20px;
		}
	}
	.gp_title {
		font-size: 35px;
		line-height: 40px;
		margin: 0 0 35px;
	}
	.gp_subtitle {
		margin: -25px 0 30px;
	}
}