.gp_imageblock6 {
	> .g-grid {
		margin: 0 -12px;
	}
	.gp_heading {
		margin-bottom: 50px;
	}
	.gp_content {
		margin: 12px;
	}
	.gp_text {
		> h4 {
			margin: 0 0 20px;
		}
		> div {
			margin: 0 0 15px;
		}
	}
	@media only all and (max-width: 959px) {
		.g-block.gp_md {
			@include flex-grow(0);
			@include flex-basis(100%);
			max-width: 100%;
		}
	}
}