.gp_typetext {
	.gp_text_block {
		position: relative;
		background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
		@include display(flex);
    	@include align-items(center);
    	color: $white;
    	.gp_mask {
    		position: absolute;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
    	}
    	h1 {
    		color: $white !important;
    		line-height: 1.2;
    		margin: 0;
    		@include breakpoint(large-desktop-range) {
    			font-size: 4rem;
    		}
    		@include breakpoint(desktop-range) {
    			font-size: 3rem;
    		}
    		@include breakpoint(tablet-range) {
    			font-size: 2rem;
                margin-bottom: 11px;
    		}
    		@include breakpoint(mobile-only) {
    			font-size: 1.5rem;
                margin-bottom: 11px;
    		}
    	}
    	#gp_slides, .gp_subtitle {
    		display: inline-block;
    		margin: 0;
    		@include breakpoint(large-desktop-range) {
    			font-size: 1.625rem;
    		}
    		@include breakpoint(desktop-range) {
    			font-size: 1.5rem;
    		}
    		@include breakpoint(tablet-range) {
    			font-size: 1rem;
    		}
    		@include breakpoint(mobile-only) {
    			font-size: 1rem;
    		}
    	}
	    .gp_items {
	    	position: relative;
	    	margin: 0 auto;
	    	@include breakpoint(large-desktop-range) {
	        	width: $breakpoints-large-desktop-container;
		    }
		    @include breakpoint(desktop-range) {
		        width: $breakpoints-desktop-container;
		    }
		    @include breakpoint(tablet-range) {
		        width: $breakpoints-tablet-container;
		    }
	    }
	    .gp_contents {
	    	padding: 0 1.563rem;
	    }
	}
	.gp_buttons {
		margin-top: 36px;
		@include display(flex);
    	@include align-items(center);
    	@include breakpoint(small-mobile-range) {
    		display: block !important;
    	}
		a {
			margin-right: 1rem;
			&:not(.btn):not(.button) {
				color: $white;
				&:hover {
					opacity: 0.85;
				}
			}
			@include breakpoint(small-mobile-range) {
				display: block;
				margin: 0 0 1rem;
			}
			&:last-child {
				margin: 0 !important;
			}
		}
	}
}