.gp_iconblock4 {
	.gp_heading {
		margin-bottom: 60px;
	}
	> .g-grid {
		margin: 0 -15px;
	}
	.gp_content {
		padding: 15px;
		h4 {
			margin-top: 0;
			margin-bottom: 15px;
			font-weight: 700;
		}
	}
	.gp_right {
		margin-bottom: 15px;
	}
	.gp_icon {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.gp_link {
		margin-top: 15px;
	}
}