.gp_bottom4 {
	ul {
		margin: 0;
		padding: 0;
		text-align: right;
		li {
			list-style: none;
			display: inline-block;
			margin-left: 0.4375rem;
			a {
				color: $base-text-color;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}