.gp_events1 {
	.gp_heading {
		margin-bottom: 40px;
	}
	.gp_item {
		@include breakpoint(no-mobile) {
			@include display(flex);
    		@include align-items(center);
		}
    	padding: 33px 26px;
    	border: 1px solid #666666;
    	&:not(:last-child) {
    		border-bottom: 0;
    	}
		> div {
			display: inline-block;
			&.gp_date {
				@include breakpoint(no-mobile) {
					padding-left: 10px;
					padding-right: 44px;
				}
				text-align: center;
				> span {
					@include breakpoint(no-mobile) {
						display: block;
					}
					&.gp_day {
						font-weight: 800;
						font-size: 43px;
						line-height: 1;
					}
					&.gp_month {
						font-weight: 600;
						font-size: 18px;
						text-transform: uppercase;
					}
				}
			}
		}
		.gp_info {
			> h3 {
				font-size: 28px;
				line-height: 1.2;
				margin: 0 0 7px;
			}
		}
		.gp_infos {
			> span {
				margin-right: 11px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}