.gp_schedule {
	.gp_heading {
		margin-bottom: 60px;
	}
	.gp_title {
		cursor: pointer;
		display: block;
		margin: 15px 0 0;
		font-size: 18px;
		font-weight: bold;
		padding: 19px 35px 19px 25px;
		position: relative;
		&.gp_dir_arrow {
			&:not(.gp_active) .gp_dir:before {
				content: "\f107";
			}
			&.gp_active .gp_dir:before {
				content: "\f106";
			}
		}
		&.gp_dir_plus {
			&:not(.gp_active) .gp_dir:before {
				content: "\2b";
			}
			&.gp_active .gp_dir:before {
				content: "\2212";
			}
		}
		.gp_dir {
			font-family: 'FontAwesome';
			font-size: 25px;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			
		}
	}
	.gp_icon {
		margin-right: 11px;
	}
	.gp_desc {
		display: none;
		padding: 25px 25px 30px 25px;
		&.gp_active {
			display: block;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				border-bottom: 1px dotted #ddd;
				padding: 7px 0;
				&:first-child {
					border-top: 1px dotted #ddd;
				}
				&.gp_bold {
					font-weight: bold;
				}
				.gp_time {
					margin-right: 9px;
					font-size: 20px;
				}
			}
		}
	}
}